<div class="container">
    <div class="jumbotron about-me">
        <div class="row">
        <div class="col-md-6 col-md-offset-1 vcenter about-me-text">
            <h2>Hi!</h2>
            <p class="personal-description">I am a Software Engineer with a passion for solving complex problems with simple solutions. I have experience building web apps with Ruby, Rails, JavaScript, and PostgreSQL and am constantly expanding my knowledge by experimenting and building projects. I recently received my bachelor's degree in Mechanical Engineering which gave me a strong foundation in math, mechanics, and electronics and continues to shape the way I think and solve problems. Check out the <%= link_to "projects page", projects_path %> for video demos of the applications I've built or the <%= link_to "blog page", blog_posts_path %> to see what I'm working on now.
            <p>
        </div><!--
        --><div class="col-md-4 vcenter">
            <span class="border"><%= image_tag 'profile_pic.jpg', class: "img-circle border border-primary", alt: "profile-pic", id: "profile-pic" %> </span>
        </div>
        </div>
    </div>
    
    <div class="row top-buffer contact-pitch">
        <div class="col-md-2 col-md-offset-2 vcenter float-right">
            <a class="btn btn-primary btn-block" href="mailto: eitansbd@gmail.com" role="button">Email Me!</a>
        </div>
        <div class="col-md-6 personal-facts vcenter">
            <p class="border border-primary">Whether you want to contact me about a job or just chat I'm always interested in meeting new people and collaborating on projects. Send me an email and I'll get back to you ASAP!</p>
        </div>
    </div>
</div>