@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default {
  background-color: white;
}

.vcenter {
   display: inline-block;
   vertical-align: middle;
   float: none;
}

.top-buffer-sm {
  margin-top: 20px;
}

#profile-pic {
   margin: auto;    
   display: block;
   width: 300px;
   height: 300px;
   border: #f1f1f1 8px solid;
}

.top-buffer {
  margin-top: 45px;
}

.container-fluid {
  max-width: 1200px;
}

.personal-description {
  font-size: 16px;
}

.footer-image {
  width: 60px;
  margin-right: 10px;
}

.navbar-fixed-bottom {
    min-height: 80px
}

.bottom-nav-buffer {
    margin-top: 10px;
}

.navbar-bottom {
  background-color: #f1f1f1
}

.about-me {
    background-color: #2f4e6f;
    border-radius: 10px;
    padding: 60px 0px;
}

.about-me-text {
    color: white;
}

.contact-pitch {
    font-size: 20px;
}

.btn-block {
    font-size: 24px;
}

.card {
    display:inline-block;
    width: 300px;
    height: 420px;
    background-color: #2f4e6f;
    border-radius: 10px;
    margin-right: 60px;
    border: black 1px solid;
}

.card-img-container {
  margin-top: 25px;
  margin-bottom: 50px;
}

.card-title {
    font-weight: bold;
    font-size:  20px;
}

.card-body {
    color: white;
    margin: 5px;
}
.card-text {
    font-size: 16px;
    height: 44px;
}

.navbar-bottom {
    margin-top: 60px;
    margin-bottom: 0px;
}

.blog-background {
  margin-top: 0px;
  background-color: white;
}

/* Projects */

.modal-dialog {
  margin-top: 0px;
  width: 80%;
  height: 80%;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.modal-header {
 padding: 5px;
}

.jumbotron p {
  font-size: 15px;
}

.jumbotron h4 {
  text-decoration: underline;
}

/* Blog Posts */
.blog-content-input {
  height: 500px;
  width: 100%;
}

.blog-img-title {
  margin-right: 20px;
  height: 80px;
  margin-bottom: 5px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 140px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;
  height: 80px;
  background-color: #f5f5f5;
}

.admin-message-text {
    font-size: 24px;
}

.alert {
    font-size: 16px;
}

